@media (max-width: 1200px) {
  .t{
      overflow-y: scroll;
  }
}
.btn{

  font-weight: bold;
  color: rgb(255, 255, 255);
  }
  h3{

    font-family: Neue Helvetica,Helvetica,sans-serif;
    font-weight: 200;
    font-size: 1.75rem;
    letter-spacing: 3pX;
    line-height: 1.5em;



}
.form-label {

	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.form-control {
  background-color: #e4e5e7;
  border-radius: 4px;
  height: 40px;
  font-size: 14px;
  color: #6C757D;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 7px;
}
