
<!-- Categories Start -->
<div class="sectionn pt-0">
  <div class="container">
      <div class="section-title-wrap section-header">

          <h2 class="tih2">Browse By Category</h2>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6" >
              <a href="/propertiesforsaleApartment" class="acr-category category-2">
                  <i ><img class="iconimage"src="../../assets/Images/apartment.png"/></i>
                  <div class="acr-category-body">
                      <h5> <a >Apartment</a> </h5>

                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-md-6" >
            <a href="/propertiesforsaleVilla" class="acr-category category-2">
                <i ><img class="iconimage" src="../../assets/Images/house.png"/></i>
                <div class="acr-category-body">
                    <h5> <a routerLink="">Villa</a> </h5>

                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6" >
          <a href="/propertiesforsaleTownHouse" class="acr-category category-2">
              <i ><img class="iconimage" src="../../assets/Images/townhouse.png"/></i>
              <div class="acr-category-body">
                  <h5> <a routerLink="">TownHouse</a> </h5>

              </div>
          </a>
      </div>
      <div class="col-lg-4 col-md-6" >
        <a href="propertiesforsaleStore" class="acr-category category-2">
            <i ><img class="iconimage" src="../../assets/Images/store.png"/></i>
            <div class="acr-category-body">
                <h5> <a routerLink="">Store</a> </h5>

            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6" >
      <a href="/propertiesforsaleWareHouse" class="acr-category category-2">
          <i ><img  class="iconimage" src="../../assets/Images/warehouse.png"/></i>
          <div class="acr-category-body">
              <h5> <a routerLink="">WareHouse</a> </h5>

          </div>
      </a>
  </div>
  <div class="col-lg-4 col-md-6" >
    <a href="/propertiesforsaleOffice" class="acr-category category-2">
        <i ><img  class="iconimage" src="../../assets/Images/office.png"/></i>
        <div class="acr-category-body">
            <h5> <a routerLink="">Office</a> </h5>

        </div>
    </a>
</div>
      </div>
  </div>
</div>
<!-- ABOUT US AREA END -->

<app-homecarsoul></app-homecarsoul>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

