<div class="container">
  <div class="carousel">

    <div class="carousel__face"><span>Luxor</span></div>
    <div class="carousel__face"><span>Aswan</span></div>
    <div class="carousel__face"><span>Giza</span></div>
    <div class="carousel__face"><span>Port Said</span></div>
    <div class="carousel__face"><span>Ismailia</span></div>
    <div class="carousel__face"><span>Red Sea</span></div>
    <div class="carousel__face"><span>Fayoum</span></div>
    <div class="carousel__face"><span>Cairo</span></div>
    <div class="carousel__face"><span>Alexandria</span></div>
  </div>
</div>
