<app-home-slider></app-home-slider>
  <!-- FEATURE AREA START ( Feature - 6) -->
  <div class="ltn__feature-area section-bg-1 pt-120 pb-90 mb-120---">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">

                    <h1 class="section-title">Our Main Focus</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__custom-gutter--- justify-content-center">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-house"></i></span> -->
                        <img src="../../assets/Images/21.png" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="http://localhost:4200/propertiesforsale">Buy a home</a></h3>
                        <a class="ltn__service-btn" href="http://localhost:4200/propertiesforsale">FromHouseToHome can match you with <br> a house you will want<br> to call home.<i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1 ">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-house-3"></i></span> -->
                        <img src="../../assets/Images/22.png" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h3 ><a href="http://localhost:4200/propertiesforsale">Rent a home</a></h3>
                        <a class="ltn__service-btn" href="http://localhost:4200/propertiesforsale" >FromHouseToHome can help you easily<br> find a home or apartment<br> for rent that you'll love. <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-deal-1"></i></span> -->
                        <img src="../../assets/Images/23.png" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="http://localhost:4200/SignupSeller">Sell a home</a></h3>
                         <a class="ltn__service-btn" href="http://localhost:4200/SignupSeller">FromHouseToHome can help you<br> easily to sell your <br> house easily. <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->
