<header>

  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video [muted]="true" autoplay loop>
    <source src="../../assets/Images/video.mp4" type="video/mp4">
  </video>

  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div>
        <h1> Great homes, real neighbourhoods</h1>
        <a href="/findyourhome" class="Findyourhome"> Find your home </a>


      </div>
    </div>
  </div>
</header>




<app-home-complete></app-home-complete>

