<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-120 pb-90 ">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 align-self-center">
              <div class="about-us-img-wrap about-img-left">
                  <img src="../../assets/Images/7.png" alt="About Us Image">
                  <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">


                  </div>
              </div>
          </div>
          <div class="col-lg-6 align-self-center">
              <div class="about-us-info-wrap">
                  <div class="section-title-area ltn__section-title-2--- mb-20">

                      <h1 class="section-title">The Leading Real Estate Renting and Selling Marketplace.</h1>
                      <p>  The FromHouseToHome organization performs partly autonomously,
                        by allowing clients upload their projects and properties on our website for rent or sale,
                        while also allowing other customers who are interested to search through FromHouseToHome to find and purchase <br> the properties that they are looking for.</p>
                  </div>
                  <ul class="ltn__list-item-half clearfix">
                      <li>
                        <i class="flaticon-mountain"><img src="../../assets/Images/1.png" style=" height: 59%;
                          margin-left: 12px;"></i>
                          Smart Home Design
                      </li>
                      <li>
                          <i class="flaticon-mountain"><img src="../../assets/Images/2.png"style=" height: 59%;
                            margin-left: 12px;"></i>
                          Beautiful Scene Around
                      </li>
                      <li>
                        <i class="flaticon-mountain"><img src="../../assets/Images/3.png" style=" height: 59%;
                          margin-left: 12px;"></i>
                          Exceptional Lifestyle
                      </li>
                      <li>
                        <i class="flaticon-mountain"><img src="../../assets/Images/1.png" style=" height: 59%;
                          margin-left: 12px;"></i>
                          Complete 24/7 Security
                      </li>
                  </ul>
                  <div class="ltn__callout bg-overlay-theme-05  mt-30">
                      <p>FromHouseToHome is an online real estate advertising platform. That helps people buy, sell and rent properties online, with an objective to make it reliable <br> and efficient to all the types of customers that use our website.
                          </p>
                  </div>
                  <div class="btn-wrapper animated">
                      <a href="/services" class="theme-btn-1 btn ">OUR SERVICES</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-homecategory></app-homecategory>
