 <!-- ABOUT US AREA START -->
 <div class="ltn__about-us-area pb-115 mt-100">
  <div class="container">
      <div class="row">

          <div class="col-lg-7 align-self-center">
              <div class="about-us-info-wrap">
                  <div class="section-title-area ltn__section-title-2--- mb-20">

                      <h1 class="section-title">We provide state of the art real estate service.</h1>
                      <p>
                        The FromHouseToHome organization performs partly autonomously,
                        by allowing clients upload their projects and properties on our website for rent or sale,
                        while also allowing other customers who are interested to search through FromHouseToHome to find and purchase the properties that they are looking for.</p>
                  </div>

                  <div class="btn-wrapper animated">
                      <a  class="theme-btn-1 btn  text-uppercase"routerLink="/AboutUs">About Us</a>
                  </div>
              </div>
          </div>

          <div class="col-lg-5 align-self-center">
            <div class="about-us-img-wrap ltn__img-shape-right  about-img-right">
                <img src="../../assets/Images/9.png" alt="Image">
            </div>
        </div>
      </div>
  </div>
</div>
<!-- ABOUT US AREA END -->

<!-- SERVICE AREA START (Service 1) -->
<div class="ltn__service-area section-bg-1 pt-115 pb-70">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title-area ltn__section-title-2--- text-center">

                  <h1 class="section-title">Our Core Services</h1>
              </div>
          </div>
      </div>
      <div class="row  justify-content-center">



        <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
              <div class="ltn__feature-icon">
                  <!-- <span><i class="flaticon-house"></i></span> -->
                  <img src="../../assets/Images/21.png" alt="#">
              </div>
              <div class="ltn__feature-info">
                  <h3><a routerLink="/propertiesforsale">Home Buy</a></h3>
                  <a class="ltn__service-btn" routerLink="/propertiesforsale">FromHouseToHome can match you with <br> a house you will want<br> to call home.<i class="flaticon-right-arrow"></i></a>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1 ">
              <div class="ltn__feature-icon">
                  <!-- <span><i class="flaticon-house-3"></i></span> -->
                  <img src="../../assets/Images/22.png" alt="#">
              </div>
              <div class="ltn__feature-info">
                  <h3 ><a routerLink="/propertiesforsale">Home Rent</a></h3>
                  <a class="ltn__service-btn" routerLink="/propertiesforsale" >FromHouseToHome can help you easily<br> find a home or apartment<br> for rent that you'll love. <i class="flaticon-right-arrow"></i></a>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
              <div class="ltn__feature-icon">
                  <!-- <span><i class="flaticon-deal-1"></i></span> -->
                  <img src="../../assets/Images/23.png" alt="#">
              </div>
              <div class="ltn__feature-info">
                  <h3><a routerLink="/propertiesforsale">Home Sell</a></h3>
                   <a class="ltn__service-btn" routerLink="/SignupSeller" >FromHouseToHome can help you<br> easily to sell your <br> house easily. <i class="flaticon-right-arrow"></i></a>
              </div>
          </div>
      </div>

      </div>
  </div>
</div>
<!-- SERVICE AREA END -->
