<div class="section">
  <div class="container">
      <div class="row align-items-center">

          <div class="col-lg-12">
              <div class="acr-empty-section">
                <img src="../../assets/Images/house (1).png"/>
                <h3>No Property Found</h3>
                <p>You still have not add any property yet, Go back to the addProperty page and add some of your Property </p>
                   </div>

                   <Br>

                    <Br><Br><Br><Br>  <Br><Br>  <Br><Br>
          </div>
      </div>
  </div>
</div>
