
<div class="sectionn">
<br>
<br>
<div class="container w-50">
    <div class="text-center">
        <div>
            <h1>About Us</h1>
        </div>

        <hr class="hr">
    </div>
  </div>
    <br>

    <div class="ltn__contact-message-area mb-120 mb--100">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="ltn__form-box contact-form-box box-shadow white-bg">
                      <h1 class="title-2">Real Estate is hard… It doesn't have to be!</h1>
                        <P> WE believe that almost everything can be made easier with technology. So why are we still buying, selling, and renting homes and commercial properties the old way, with hustling brokers, incomplete information, and lost gems hidden from our sights? We say: Enough! With our custom-made algorithm and skillful, presentable agents, we're out to revolutionize the real estate market by finding each buyer the property they want. </P>
                  </div>
              </div>
          </div>
      </div>
    </div>











<div class="container mt-160" >


<!--Inner Content Start-->
<div class="innercontent">
  <div class="container">
    <div class="row aboutWrap">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="about_box">
          <div class="title">
            <h2>Our vision</h2>
            <br>
          </div>
          <p class="description col-xs-12 col-lg-8"> Becoming the biggest, most effective, robust, and<br> powerful real estate  consultancy platform in the world, disrupting and rebuildingthe real estate<br> market  on a foundation of confidence, trust,<br> and full disclosure of information.</p>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="aboutImg"><img alt="" src="../../assets/Images/aboutas1.png"></div>
      </div>
    </div>
  </div>
</div>





</div>
</div>
<div class="sectionn">
<br>
<br>
<div _ngcontent-hvm-c244="" class="row section-row" style="">
  <div _ngcontent-hvm-c244="" class="col-lg-1 d-none d-lg-block" style="margin: 20px 0px;">
  </div>
  <div _ngcontent-hvm-c244="" class="col-lg-5 col-xs-12 out-grid second">
    <div _ngcontent-hvm-c244="" class="row">
    <div _ngcontent-hvm-c244="" class="col-xs-12 holder"   style="background-color: rgb(242,246,247)">
      <div _ngcontent-hvm-c244="" class=" imagetwo row"><div _ngcontent-hvm-c244="" class="col img-group">
        <img _ngcontent-hvm-c244="" src="../../assets/Images/Screen Shot 1 (1).png" style="max-width: 50%;" alt="..." class="pull-this">
        <img _ngcontent-hvm-c244="" src="../../assets/Images/Screen Shot 1 (2).png"style="max-width: 50%;" alt="...">
      </div>
    </div>
    <div _ngcontent-hvm-c244="" class="row">
      <div _ngcontent-hvm-c244="" class="col-12"  style="background-color: rgb(242,246,247)">
        <img class="imagethree" src="../../assets/Images/Screen Shot 1 (3).png" alt="...">
      </div>
    </div>
  </div>
</div>
</div>
<div _ngcontent-hvm-c244="" class="col-lg-6 col-xs-12" >
  <div _ngcontent-hvm-c244="" class="section-head-left "style="margin-left: 9%;">
    <h2 _ngcontent-hvm-c244="" style="padding-bottom: 30px;">
       Our mission
    </h2>
    <p _ngcontent-hvm-c244="" class="description col-xs-12 col-lg-8" >  Connecting all parties and aspects of real estate<br> transactions to facilitate  the purchase, sale, and<br> rent of real estate in Egypt, and beyond!</p>

  </div>
</div>
</div>
<br>
<br>
<br>
</div>
